body {
    background-color: black;
}

.website-quote {
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1, p {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
 h1 {
    text-transform: uppercase;
 }
