body {
    background-color: black;
}

.website-quote {
    width: 50%;
    margin: 4rem auto;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1, p {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
h1 {
    text-transform: uppercase;
 }

 #pagination {
  text-align: center;
  margin-bottom: 3rem;
}

button {
  padding: 0.5rem 1rem;
}
